<div layout="row">
    <md-card flex>
        <md-card-content>
            <div ma-tr="sql.warning"></div>
        </md-card-content>
    </md-card>
</div>

<div layout="row">
    <md-card flex="30">
        <md-card-content>
            <ma-ace-editor mode="sql" ng-model="$ctrl.queryString"></ma-ace-editor>
            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" ng-click="$ctrl.getTables($event)">
                    <span ma-tr="sql.tableList"></span>
                </md-button>
                <md-button class="md-raised md-primary" ng-click="$ctrl.query($ctrl.queryString)">
                    <span ma-tr="sql.query"></span>
                </md-button>
                <md-button class="md-raised md-primary" ng-click="$ctrl.save($event)">
                    <span ma-tr="sql.update"></span>
                </md-button>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex>
        <md-card-content flex>
            <div style="height: 100%" layout="row" layout-align="center center" ng-if="!$ctrl.rows">
                <h2 ma-tr="sql.makeQuery"></h2>
            </div>
            <md-table-container ng-if="$ctrl.rows">
                <table md-table>
                    <thead md-head md-order="query.order">
                        <tr md-row>
                            <th md-column ng-repeat="header in $ctrl.tableHeaders">{{header}}</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="row in $ctrl.rows">
                            <td md-cell ng-repeat="cell in row track by $index">{{ cell }}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-card-content>
    </md-card>
</div>