<md-autocomplete
    md-selected-item-change="$ctrl.setViewValue()"
    md-selected-item="$ctrl.selectedEvent"
    md-search-text="$ctrl.searchText"
    md-items="event in $ctrl.events"
    md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)"
    md-item-text="$ctrl.displayText(event)"
    md-no-cache="true"
    md-min-length="0"
    md-floating-label="{{$ctrl.label}}"
    md-delay="500"
    md-select-on-focus="true"
    md-escape-options="none"
    md-clear-button="true">

    <md-item-template>
        <span md-highlight-text="$ctrl.searchText" md-highlight-flags="gi">{{event.name}}</span>
    </md-item-template>

    <md-not-found>
        <span ma-tr="maintenanceEvents.notFound" ma-tr-args="[$ctrl.searchText]"></span>
    </md-not-found>

</md-autocomplete>