<div class="md-padding" layout layout-align="space-between top" layout-wrap ng-form="$ctrl.form" ma-validation-messages="$ctrl.validationMessages">
    <md-input-container flex="100" flex-gt-md="45" class="ma-input-space-between">
        <label ma-tr="common.xid"></label>
        <input name="xid" ng-model="$ctrl.selectedEvent.xid" required>
        <div ng-messages="$ctrl.form.xid.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="$ctrl.form.xid.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container flex="100" flex-gt-md="45" class="ma-input-space-between">
        <label ma-tr="common.name"></label>
        <input name="name" ng-model="$ctrl.selectedEvent.name" required>
        <div ng-messages="$ctrl.form.name.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="$ctrl.form.name.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container flex="100" flex-gt-sm="45">
        <label ma-tr="common.alarmLevel"></label>
        <md-select name="alarmLevel" ng-model="$ctrl.selectedEvent.alarmLevel" required>
            <md-option value="NONE" ma-tr="common.alarmLevel.none"></md-option>
            <md-option value="INFORMATION" ma-tr="common.alarmLevel.info"></md-option>
            <md-option value="IMPORTANT" ma-tr="common.alarmLevel.important"></md-option>
            <md-option value="WARNING" ma-tr="common.alarmLevel.warning"></md-option>
            <md-option value="URGENT" ma-tr="common.alarmLevel.urgent"></md-option>
            <md-option value="CRITICAL" ma-tr="common.alarmLevel.critical"></md-option>
            <md-option value="LIFE_SAFETY" ma-tr="common.alarmLevel.lifeSafety"></md-option>
            <md-option value="DO_NOT_LOG" ma-tr="common.alarmLevel.doNotLog"></md-option>
            <md-option value="IGNORE" ma-tr="common.alarmLevel.ignore"></md-option>
        </md-select>
        <div ng-messages="$ctrl.form.alarmLevel.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="$ctrl.form.alarmLevel.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container flex="100" flex-gt-sm="45">
        <label ma-tr="maintenanceEvents.type"></label>
        <md-select name="scheduleType" ng-model="$ctrl.selectedEvent.scheduleType" required>
            <md-option value="MANUAL" ma-tr="maintenanceEvents.type.manual"></md-option>
            <md-option value="HOURLY" ma-tr="maintenanceEvents.type.hour"></md-option>
            <md-option value="DAILY" ma-tr="maintenanceEvents.type.day"></md-option>
            <md-option value="WEEKLY" ma-tr="maintenanceEvents.type.week"></md-option>
            <md-option value="MONTHLY" ma-tr="maintenanceEvents.type.month"></md-option>
            <md-option value="YEARLY" ma-tr="maintenanceEvents.type.year"></md-option>
            <md-option value="ONCE" ma-tr="maintenanceEvents.type.once"></md-option>
            <md-option value="CRON" ma-tr="maintenanceEvents.type.cron"></md-option>
        </md-select>
        <div ng-messages="$ctrl.form.scheduleType.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="$ctrl.form.scheduleType.validationMessage"></div>
        </div>
    </md-input-container>

    <md-switch flex="100" ng-model="$ctrl.activeEvent" ng-disabled="$ctrl.selectedEvent.disabled" ng-change="$ctrl.toggleEvent()">
        <span ma-tr="maintenanceEvents.toggle"></span>
    </md-switch>

    <!-- Active Time -->

    <div flex="100" flex-gt-md="50" layout="row" layout-wrap ng-if="$ctrl.selectedEvent.scheduleType != 'MANUAL'">
        <h3 ma-tr="maintenanceEvents.activeTime"></h3>
        
        <div flex="100" layout="row" layout-wrap ng-if="$ctrl.selectedEvent.scheduleType == 'HOURLY'">
            <md-input-container flex="100" flex-gt-md="50" class="ma-input-space-between">
                <label ma-tr="common.tp.minute"></label>
                <input name="activeMinute" type="number" min="0" max="59" ng-model="$ctrl.selectedEvent.activeMinute" required>
                <div ng-messages="$ctrl.form.activeMinute.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.activeMinute.validationMessage"></div>
                </div>
            </md-input-container>
            <md-input-container flex="100" flex-gt-md="50" class="ma-input-space-between">
                <label ma-tr="common.tp.second"></label>
                <input name="activeSecond" type="number" min="0" max="59" ng-model="$ctrl.selectedEvent.activeSecond" required>
                <div ng-messages="$ctrl.form.activeSecond.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.activeSecond.validationMessage"></div>
                </div>
            </md-input-container>
        </div>

        <div flex="100" layout="row" layout-wrap ng-if="$ctrl.selectedEvent.scheduleType == 'WEEKLY'">
            <md-input-container flex="100">
                <label ma-tr="common.tp.day"></label>
                <md-select name="activeDay" ng-model="$ctrl.selectedEvent.activeDay" required>
                    <md-option value="1" ma-tr="common.day.mon"></md-option>
                    <md-option value="2" ma-tr="common.day.tue"></md-option>
                    <md-option value="3" ma-tr="common.day.wed"></md-option>
                    <md-option value="4" ma-tr="common.day.thu"></md-option>
                    <md-option value="5" ma-tr="common.day.fri"></md-option>
                    <md-option value="6" ma-tr="common.day.sat"></md-option>
                    <md-option value="7" ma-tr="common.day.sun"></md-option>
                </md-select>
                <div ng-messages="$ctrl.form.activeDay.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.activeDay.validationMessage"></div>
                </div>
            </md-input-container>
        </div>

        <div flex="100" layout="row" layout-wrap ng-if="$ctrl.selectedEvent.scheduleType == 'YEARLY' || $ctrl.selectedEvent.scheduleType == 'MONTHLY'">
            <md-input-container flex ng-if="$ctrl.selectedEvent.scheduleType == 'YEARLY'">
                <label ma-tr="common.tp.month"></label>
                <md-select name="activeMonth" ng-model="$ctrl.selectedEvent.activeMonth" required>
                    <md-option value="1" ma-tr="dateAndTime.january"></md-option>
                    <md-option value="2" ma-tr="dateAndTime.february"></md-option>
                    <md-option value="3" ma-tr="dateAndTime.march"></md-option>
                    <md-option value="4" ma-tr="dateAndTime.april"></md-option>
                    <md-option value="5" ma-tr="dateAndTime.may"></md-option>
                    <md-option value="6" ma-tr="dateAndTime.june"></md-option>
                    <md-option value="7" ma-tr="dateAndTime.july"></md-option>
                    <md-option value="8" ma-tr="dateAndTime.august"></md-option>
                    <md-option value="9" ma-tr="dateAndTime.september"></md-option>
                    <md-option value="10" ma-tr="dateAndTime.october"></md-option>
                    <md-option value="11" ma-tr="dateAndTime.november"></md-option>
                    <md-option value="12" ma-tr="dateAndTime.december"></md-option>
                </md-select>
                <div ng-messages="$ctrl.form.activeMonth.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.activeMonth.validationMessage"></div>
                </div>
            </md-input-container>
            
            <md-input-container flex>
                <label ma-tr="common.tp.day"></label>
                <md-select name="activeDay" ng-model="$ctrl.selectedEvent.activeDay" required>
                    <md-option value="1">1</md-option>
                    <md-option value="2">2</md-option>
                    <md-option value="3">3</md-option>
                    <md-option value="4">4</md-option>
                    <md-option value="5">5</md-option>
                    <md-option value="6">6</md-option>
                    <md-option value="7">7</md-option>
                    <md-option value="8">8</md-option>
                    <md-option value="9">9</md-option>
                    <md-option value="10">10</md-option>
                    <md-option value="11">11</md-option>
                    <md-option value="12">12</md-option>
                    <md-option value="13">13</md-option>
                    <md-option value="14">14</md-option>
                    <md-option value="15">15</md-option>
                    <md-option value="16">16</md-option>
                    <md-option value="17">17</md-option>
                    <md-option value="18">18</md-option>
                    <md-option value="19">19</md-option>
                    <md-option value="20">20</md-option>
                    <md-option value="21">21</md-option>
                    <md-option value="22">22</md-option>
                    <md-option value="23">23</md-option>
                    <md-option value="24">24</md-option>
                    <md-option value="25">25</md-option>
                    <md-option value="26">26</md-option>
                    <md-option value="27">27</md-option>
                    <md-option value="28">28</md-option>
                    <md-option value="-3" ma-tr="common.day.thirdLast"></md-option>
                    <md-option value="-2" ma-tr="common.day.secondLast"></md-option>
                    <md-option value="-1" ma-tr="common.day.last"></md-option>
                </md-select>
                <div ng-messages="$ctrl.form.activeDay.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.activeDay.validationMessage"></div>
                </div>
            </md-input-container>
        </div>

        <div flex="100" layout="row" layout-wrap ng-if="$ctrl.selectedEvent.scheduleType == 'ONCE'">
            <md-input-container flex class="ma-input-space-between">
                <label ma-tr="common.tp.year"></label>
                <input name="activeYear" type="number" min="2018" max="3000" ng-model="$ctrl.selectedEvent.activeYear" required>
                <div ng-messages="$ctrl.form.activeYear.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.activeYear.validationMessage"></div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label ma-tr="common.tp.month"></label>
                <md-select name="activeMonth" ng-model="$ctrl.selectedEvent.activeMonth" required>
                    <md-option value="1" ma-tr="dateAndTime.january"></md-option>
                    <md-option value="2" ma-tr="dateAndTime.february"></md-option>
                    <md-option value="3" ma-tr="dateAndTime.march"></md-option>
                    <md-option value="4" ma-tr="dateAndTime.april"></md-option>
                    <md-option value="5" ma-tr="dateAndTime.may"></md-option>
                    <md-option value="6" ma-tr="dateAndTime.june"></md-option>
                    <md-option value="7" ma-tr="dateAndTime.july"></md-option>
                    <md-option value="8" ma-tr="dateAndTime.august"></md-option>
                    <md-option value="9" ma-tr="dateAndTime.september"></md-option>
                    <md-option value="10" ma-tr="dateAndTime.october"></md-option>
                    <md-option value="11" ma-tr="dateAndTime.november"></md-option>
                    <md-option value="12" ma-tr="dateAndTime.december"></md-option>
                </md-select>
                <div ng-messages="$ctrl.form.activeMonth.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.activeMonth.validationMessage"></div>
                </div>
            </md-input-container>
            
            <md-input-container flex>
                <label ma-tr="common.tp.day"></label>
                <md-select name="activeDay" ng-model="$ctrl.selectedEvent.activeDay" required>
                    <md-option value="1">1</md-option>
                    <md-option value="2">2</md-option>
                    <md-option value="3">3</md-option>
                    <md-option value="4">4</md-option>
                    <md-option value="5">5</md-option>
                    <md-option value="6">6</md-option>
                    <md-option value="7">7</md-option>
                    <md-option value="8">8</md-option>
                    <md-option value="9">9</md-option>
                    <md-option value="10">10</md-option>
                    <md-option value="11">11</md-option>
                    <md-option value="12">12</md-option>
                    <md-option value="13">13</md-option>
                    <md-option value="14">14</md-option>
                    <md-option value="15">15</md-option>
                    <md-option value="16">16</md-option>
                    <md-option value="17">17</md-option>
                    <md-option value="18">18</md-option>
                    <md-option value="19">19</md-option>
                    <md-option value="20">20</md-option>
                    <md-option value="21">21</md-option>
                    <md-option value="22">22</md-option>
                    <md-option value="23">23</md-option>
                    <md-option value="24">24</md-option>
                    <md-option value="25">25</md-option>
                    <md-option value="26">26</md-option>
                    <md-option value="27">27</md-option>
                    <md-option value="28">28</md-option>
                    <md-option value="29">29</md-option>
                    <md-option value="30">30</md-option>
                    <md-option value="31">31</md-option>
                </md-select>
                <div ng-messages="$ctrl.form.activeDay.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.activeDay.validationMessage"></div>
                </div>
            </md-input-container>
        </div>

        <div flex="100" layout="row" layout-wrap ng-if="$ctrl.selectedEvent.scheduleType != 'MANUAL' && $ctrl.selectedEvent.scheduleType != 'HOURLY' && $ctrl.selectedEvent.scheduleType != 'CRON'">
            <md-input-container flex="100" flex-gt-md="30" class="ma-input-space-between">
                <label ma-tr="common.tp.hour"></label>
                <input name="activeHour" type="number" min="0" max="59" ng-model="$ctrl.selectedEvent.activeHour" required>
                <div ng-messages="$ctrl.form.activeHour.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.activeHour.validationMessage"></div>
                </div>
            </md-input-container>
            <md-input-container flex="100" flex-gt-md="40" class="ma-input-space-between">
                <label ma-tr="common.tp.minute"></label>
                <input name="activeMinute" type="number" min="0" max="59" ng-model="$ctrl.selectedEvent.activeMinute" required>
                <div ng-messages="$ctrl.form.activeMinute.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.activeMinute.validationMessage"></div>
                </div>
            </md-input-container>
            <md-input-container flex="100" flex-gt-md="30" class="ma-input-space-between">
                <label ma-tr="common.tp.second"></label>
                <input name="activeSecond" type="number" min="0" max="59" ng-model="$ctrl.selectedEvent.activeSecond" required>
                <div ng-messages="$ctrl.form.activeSecond.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.activeSecond.validationMessage"></div>
                </div>
            </md-input-container>
        </div>

        <div flex="100" layout="row" layout-wrap ng-if="$ctrl.selectedEvent.scheduleType == 'CRON'">
            
            <div layout>
                <md-input-container flex>
                    <label ma-tr="common.cronPattern"></label>
                    <input name="activeCron" ng-model="$ctrl.selectedEvent.activeCron" required>
                    <div ng-messages="$ctrl.form.activeCron.$error">
                        <div ng-message="required" ma-tr="validate.required"></div>
                        <div ng-message="validationMessage" ng-bind="$ctrl.form.activeCron.validationMessage"></div>
                    </div>
                </md-input-container>
            </div>

            <ma-cron-pattern ng-model="$ctrl.selectedEvent.activeCron"></ma-cron-pattern>

        </div>

    </div>

    <!-- Inactive Time -->

    <div flex="100" flex-gt-md="50" layout="row" layout-wrap ng-if="$ctrl.selectedEvent.scheduleType != 'MANUAL'">
        <h3 ma-tr="maintenanceEvents.inactiveTime"></h3>
        
        <div flex="100" layout="row" layout-wrap ng-if="$ctrl.selectedEvent.scheduleType == 'HOURLY'">
            <md-input-container flex="100" flex-gt-md="50" class="ma-input-space-between">
                <label ma-tr="common.tp.minute"></label>
                <input name="inactiveMinute" type="number" min="0" max="59" ng-model="$ctrl.selectedEvent.inactiveMinute" required>
                <div ng-messages="$ctrl.form.inactiveMinute.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.inactiveMinute.validationMessage"></div>
                </div>
            </md-input-container>
            <md-input-container flex="100" flex-gt-md="50" class="ma-input-space-between">
                <label ma-tr="common.tp.second"></label>
                <input name="inactiveSecond" type="number" min="0" max="59" ng-model="$ctrl.selectedEvent.inactiveSecond" required>
                <div ng-messages="$ctrl.form.inactiveSecond.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.inactiveSecond.validationMessage"></div>
                </div>
            </md-input-container>
        </div>

        <div flex="100" layout="row" layout-wrap ng-if="$ctrl.selectedEvent.scheduleType == 'WEEKLY'">
            <md-input-container flex="100">
                <label ma-tr="common.tp.day"></label>
                <md-select name="inactiveDay" ng-model="$ctrl.selectedEvent.inactiveDay" required>
                    <md-option value="1" ma-tr="common.day.mon"></md-option>
                    <md-option value="2" ma-tr="common.day.tue"></md-option>
                    <md-option value="3" ma-tr="common.day.wed"></md-option>
                    <md-option value="4" ma-tr="common.day.thu"></md-option>
                    <md-option value="5" ma-tr="common.day.fri"></md-option>
                    <md-option value="6" ma-tr="common.day.sat"></md-option>
                    <md-option value="7" ma-tr="common.day.sun"></md-option>
                </md-select>
                <div ng-messages="$ctrl.form.inactiveDay.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.inactiveDay.validationMessage"></div>
                </div>
            </md-input-container>
        </div>

        <div flex="100" layout="row" layout-wrap ng-if="$ctrl.selectedEvent.scheduleType == 'YEARLY' || $ctrl.selectedEvent.scheduleType == 'MONTHLY'">
            <md-input-container flex ng-if="$ctrl.selectedEvent.scheduleType == 'YEARLY'">
                <label ma-tr="common.tp.month"></label>
                <md-select name="inactiveMonth" ng-model="$ctrl.selectedEvent.inactiveMonth" required>
                    <md-option value="1" ma-tr="dateAndTime.january"></md-option>
                    <md-option value="2" ma-tr="dateAndTime.february"></md-option>
                    <md-option value="3" ma-tr="dateAndTime.march"></md-option>
                    <md-option value="4" ma-tr="dateAndTime.april"></md-option>
                    <md-option value="5" ma-tr="dateAndTime.may"></md-option>
                    <md-option value="6" ma-tr="dateAndTime.june"></md-option>
                    <md-option value="7" ma-tr="dateAndTime.july"></md-option>
                    <md-option value="8" ma-tr="dateAndTime.august"></md-option>
                    <md-option value="9" ma-tr="dateAndTime.september"></md-option>
                    <md-option value="10" ma-tr="dateAndTime.october"></md-option>
                    <md-option value="11" ma-tr="dateAndTime.november"></md-option>
                    <md-option value="12" ma-tr="dateAndTime.december"></md-option>
                </md-select>
                <div ng-messages="$ctrl.form.inactiveMonth.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.inactiveMonth.validationMessage"></div>
                </div>
            </md-input-container>
            
            <md-input-container flex>
                <label ma-tr="common.tp.day"></label>
                <md-select name="inactiveDay" ng-model="$ctrl.selectedEvent.inactiveDay" required>
                    <md-option value="1">1</md-option>
                    <md-option value="2">2</md-option>
                    <md-option value="3">3</md-option>
                    <md-option value="4">4</md-option>
                    <md-option value="5">5</md-option>
                    <md-option value="6">6</md-option>
                    <md-option value="7">7</md-option>
                    <md-option value="8">8</md-option>
                    <md-option value="9">9</md-option>
                    <md-option value="10">10</md-option>
                    <md-option value="11">11</md-option>
                    <md-option value="12">12</md-option>
                    <md-option value="13">13</md-option>
                    <md-option value="14">14</md-option>
                    <md-option value="15">15</md-option>
                    <md-option value="16">16</md-option>
                    <md-option value="17">17</md-option>
                    <md-option value="18">18</md-option>
                    <md-option value="19">19</md-option>
                    <md-option value="20">20</md-option>
                    <md-option value="21">21</md-option>
                    <md-option value="22">22</md-option>
                    <md-option value="23">23</md-option>
                    <md-option value="24">24</md-option>
                    <md-option value="25">25</md-option>
                    <md-option value="26">26</md-option>
                    <md-option value="27">27</md-option>
                    <md-option value="28">28</md-option>
                    <md-option value="-3" ma-tr="common.day.thirdLast"></md-option>
                    <md-option value="-2" ma-tr="common.day.secondLast"></md-option>
                    <md-option value="-1" ma-tr="common.day.last"></md-option>
                </md-select>
                <div ng-messages="$ctrl.form.inactiveDay.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.inactiveDay.validationMessage"></div>
                </div>
            </md-input-container>
        </div>

        <div flex="100" layout="row" layout-wrap ng-if="$ctrl.selectedEvent.scheduleType == 'ONCE'">
            <md-input-container flex class="ma-input-space-between">
                <label ma-tr="common.tp.year"></label>
                <input name="inactiveYear" type="number" min="2018" max="3000" ng-model="$ctrl.selectedEvent.inactiveYear" required>
                <div ng-messages="$ctrl.form.inactiveYear.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.inactiveYear.validationMessage"></div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label ma-tr="common.tp.month"></label>
                <md-select name="inactiveMonth" ng-model="$ctrl.selectedEvent.inactiveMonth" required>
                    <md-option value="1" ma-tr="dateAndTime.january"></md-option>
                    <md-option value="2" ma-tr="dateAndTime.february"></md-option>
                    <md-option value="3" ma-tr="dateAndTime.march"></md-option>
                    <md-option value="4" ma-tr="dateAndTime.april"></md-option>
                    <md-option value="5" ma-tr="dateAndTime.may"></md-option>
                    <md-option value="6" ma-tr="dateAndTime.june"></md-option>
                    <md-option value="7" ma-tr="dateAndTime.july"></md-option>
                    <md-option value="8" ma-tr="dateAndTime.august"></md-option>
                    <md-option value="9" ma-tr="dateAndTime.september"></md-option>
                    <md-option value="10" ma-tr="dateAndTime.october"></md-option>
                    <md-option value="11" ma-tr="dateAndTime.november"></md-option>
                    <md-option value="12" ma-tr="dateAndTime.december"></md-option>
                </md-select>
                <div ng-messages="$ctrl.form.inactiveMonth.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.inactiveMonth.validationMessage"></div>
                </div>
            </md-input-container>
            
            <md-input-container flex>
                <label ma-tr="common.tp.day"></label>
                <md-select name="inactiveDay" ng-model="$ctrl.selectedEvent.inactiveDay" required>
                    <md-option value="1">1</md-option>
                    <md-option value="2">2</md-option>
                    <md-option value="3">3</md-option>
                    <md-option value="4">4</md-option>
                    <md-option value="5">5</md-option>
                    <md-option value="6">6</md-option>
                    <md-option value="7">7</md-option>
                    <md-option value="8">8</md-option>
                    <md-option value="9">9</md-option>
                    <md-option value="10">10</md-option>
                    <md-option value="11">11</md-option>
                    <md-option value="12">12</md-option>
                    <md-option value="13">13</md-option>
                    <md-option value="14">14</md-option>
                    <md-option value="15">15</md-option>
                    <md-option value="16">16</md-option>
                    <md-option value="17">17</md-option>
                    <md-option value="18">18</md-option>
                    <md-option value="19">19</md-option>
                    <md-option value="20">20</md-option>
                    <md-option value="21">21</md-option>
                    <md-option value="22">22</md-option>
                    <md-option value="23">23</md-option>
                    <md-option value="24">24</md-option>
                    <md-option value="25">25</md-option>
                    <md-option value="26">26</md-option>
                    <md-option value="27">27</md-option>
                    <md-option value="28">28</md-option>
                    <md-option value="29">29</md-option>
                    <md-option value="30">30</md-option>
                    <md-option value="31">31</md-option>
                </md-select>
                <div ng-messages="$ctrl.form.inactiveDay.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.inactiveDay.validationMessage"></div>
                </div>
            </md-input-container>
        </div>

        <div flex="100" layout="row" layout-wrap ng-if="$ctrl.selectedEvent.scheduleType != 'MANUAL' && $ctrl.selectedEvent.scheduleType != 'HOURLY' && $ctrl.selectedEvent.scheduleType != 'CRON'">
            <md-input-container flex="100" flex-gt-md="30" class="ma-input-space-between">
                <label ma-tr="common.tp.hour"></label>
                <input name="inactiveHour" type="number" min="0" max="59" ng-model="$ctrl.selectedEvent.inactiveHour" required>
                <div ng-messages="$ctrl.form.inactiveHour.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.inactiveHour.validationMessage"></div>
                </div>
            </md-input-container>
            <md-input-container flex="100" flex-gt-md="40" class="ma-input-space-between">
                <label ma-tr="common.tp.minute"></label>
                <input name="inactiveMinute" type="number" min="0" max="59" ng-model="$ctrl.selectedEvent.inactiveMinute" required>
                <div ng-messages="$ctrl.form.inactiveMinute.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.inactiveMinute.validationMessage"></div>
                </div>
            </md-input-container>
            <md-input-container flex="100" flex-gt-md="30" class="ma-input-space-between">
                <label ma-tr="common.tp.second"></label>
                <input name="inactiveSecond" type="number" min="0" max="59" ng-model="$ctrl.selectedEvent.inactiveSecond" required>
                <div ng-messages="$ctrl.form.inactiveSecond.$error">
                    <div ng-message="required" ma-tr="validate.required"></div>
                    <div ng-message="validationMessage" ng-bind="$ctrl.form.inactiveSecond.validationMessage"></div>
                </div>
            </md-input-container>
        </div>

        <div flex="100" layout="row" layout-wrap ng-if="$ctrl.selectedEvent.scheduleType == 'CRON'">
            
            <div layout>
                <md-input-container flex>
                    <label ma-tr="common.cronPattern"></label>
                    <input name="inactiveCron" ng-model="$ctrl.selectedEvent.inactiveCron" required>
                    <div ng-messages="$ctrl.form.inactiveCron.$error">
                        <div ng-message="required" ma-tr="validate.required"></div>
                        <div ng-message="validationMessage" ng-bind="$ctrl.form.inactiveCron.validationMessage"></div>
                    </div>
                </md-input-container>
            </div>

            <ma-cron-pattern ng-model="$ctrl.selectedEvent.inactiveCron"></ma-cron-pattern>

        </div>


    </div>

    <!-- End Inactive Time -->

    <div flex="100">
        <ma-filtering-data-source-list ng-model="$ctrl.selectedDataSource" label-text="'Select data sources'"
        ng-change="$ctrl.addDataSource()"></ma-filtering-data-source-list>
        <md-chips ng-model="$ctrl.dataSources" name="name" readonly="true" md-max-chips="10">
            <md-chip-template ng-click="$ctrl.dataSources.splice($$replacedScope.$index,1)">
                <strong>{{$chip.name}}</strong>
                <em>({{$chip.xid}})</em>
                <md-icon>close</md-icon>
            </md-chip-template>
        </md-chips>
        <div md-colors="{color: 'red-500'}" ng-bind="$ctrl.getValidationMessage('dataSources').message"></div>
    </div>

    <div flex="100" class="ma-input-space-between">
        <ma-filtering-point-list ng-model="$ctrl.selectedDataPoint" label-text="'Select data points'"
        ng-change="$ctrl.addDataPoint()"></ma-filtering-point-list>
        <md-chips ng-model="$ctrl.dataPoints" name="dataPoints" readonly="true" md-max-chips="10">
            <md-chip-template ng-click="$ctrl.dataPoints.splice($$replacedScope.$index,1)">
                <strong>{{$chip.name}}</strong>
                <em>({{$chip.deviceName}})</em>
                <md-icon>close</md-icon>
            </md-chip-template>
        </md-chips>
        <div md-colors="{color: 'red-500'}" ng-bind="$ctrl.getValidationMessage('dataPoints').message"></div>
    </div>

    <md-input-container flex="100" flex-sm="20" flex-gt-sm="20">
        <label ma-tr="maintenanceEvents.timeoutPeriods"></label>
        <input name="timeoutPeriods" type="number" min="0" ng-model="$ctrl.selectedEvent.timeoutPeriods" required>
        <div ng-messages="$ctrl.form.timeoutPeriods.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="$ctrl.form.timeoutPeriods.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container flex="100" flex-sm="20" flex-gt-sm="25">
        <label ma-tr="maintenanceEvents.timeoutPeriodType"></label>
        <md-select name="timeoutPeriodType" ng-model="$ctrl.selectedEvent.timeoutPeriodType" required>
            <md-option value="SECONDS" ma-tr="dateAndTime.seconds"></md-option>
            <md-option value="MINUTES" ma-tr="dateAndTime.minutes"></md-option>
            <md-option value="HOURS" ma-tr="dateAndTime.hours"></md-option>
            <md-option value="DAYS" ma-tr="dateAndTime.days"></md-option>
            <md-option value="WEEKS" ma-tr="dateAndTime.weeks"></md-option>
            <md-option value="MONTHS" ma-tr="dateAndTime.months"></md-option>
            <md-option value="YEARS" ma-tr="dateAndTime.years"></md-option>
        </md-select>
        <div ng-messages="$ctrl.form.timeoutPeriodType.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="$ctrl.form.timeoutPeriodType.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container flex="100" flex-gt-md="45" class="ma-input-space-between">
        <label ma-tr="maintenanceEvents.togglePermission"></label>
        <input name="togglePermission" ng-model="$ctrl.selectedEvent.togglePermission" pattern="^\s*[\w-]+?\s*(,\s*[\w-]+?\s*)*$">
        <div ng-messages="$ctrl.form.togglePermission.$error">
            <div ng-message="pattern" ma-tr="validate.invalidPermissions"></div>
            <div ng-message="validationMessage" ng-bind="$ctrl.form.togglePermission.validationMessage"></div>
        </div>
        <ma-permissions-menu ng-model="$ctrl.selectedEvent.togglePermission"></ma-permissions-menu>
    </md-input-container>

    <md-input-container flex="50" flex-gt-md="45" class="ma-input-space-between md-block">
        <md-checkbox ng-model="$ctrl.selectedEvent.disabled"><span ma-tr="maintenanceEvents.disabled"></span></md-checkbox>
    </md-input-container>
    
    <div flex="100" layout layout-align="start center" class="ma-margin-bottom">
        <md-button class="md-raised md-primary" ng-click="$ctrl.save($event)">
            <md-icon>save</md-icon> <span ma-tr="common.save"></span>
        </md-button>
        <md-button class="md-raised md-warn" ng-click="$ctrl.delete($event)" ng-disabled="$ctrl.selectedEvent.isNew()">
            <md-icon>delete</md-icon> <span ma-tr="common.delete"></span>
        </md-button>
    </div>
</div>
