<div layout="column" layout-gt-md="row" layout-gt-lg="row" flex="noshrink">
    <md-card flex="noshrink" flex-gt-md="25" flex-gt-lg="20" layout="column">
        <md-toolbar class="md-hue-3">
            <div class="md-toolbar-tools">
                <span ma-tr="maintenanceEvents.select"></span>
            </div>
        </md-toolbar>

        <md-card-content flex layout layout-align="start start" ng-if="$ctrl.$mdMedia('gt-md')" class="ma-no-padding ma-scroll-parent">
            <ma-maintenance-events-list flex layout="row" ng-model="$ctrl.selectedEvent"></ma-maintenance-events-list>
        </md-card-content>
    </md-card>

    <div flex>
        <md-card>
            <md-toolbar class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span ng-if="!$ctrl.selectedEvent.isNew()" ma-tr="excelreports.ui.editTemplate" ma-tr-args="[$ctrl.selectedEvent.name]"></span>
                    <span ng-if="$ctrl.selectedEvent.isNew()" ma-tr="excelreports.ui.createNewTemplate"></span>
                </div>
            </md-toolbar>
            <ma-maintenance-events-setup ng-model="$ctrl.selectedEvent"></ma-maintenance-events-setup>
        </md-card>
    </div>
</div>
