<h3>
    <span ma-tr="dsEdit.internalPoint"></span>
    <md-button class="md-icon-button ma-small-button ma-no-margin" ui-sref="ui.help.internalDataPoint">
        <md-icon>help</md-icon>
    </md-button>
</h3>

<div layout="row" layout-wrap layout-align="space-between start" class="ma-inputs-container">
    <md-input-container flex="100" flex-gt-md="50">
        <label ma-tr="dsEdit.internal.attribute"></label>
        <ma-drop-down-button>
            <span ng-bind="$ctrl.dataPoint.pointLocator.configurationDescription"></span>
            <ma-drop-down auto-focus="::false" class="ma-full-screen-centered">
                <ma-option-list ma-configure-input-container name="monitorId"
                                ng-model="$ctrl.dataPoint.pointLocator.monitorId" ng-change="$ctrl.inputChanged()"
                                ma-get-ctrl="$ctrl.monitorIdModelCtrl = $ngModel" required="required"
                                items="$ctrl.queryMetrics($filter, $dropDownOpen)">
                    <ma-option ng-repeat="value in $items" ng-value="value.id">
                        <span class="ma-ellipsis" md-highlight-text="$filter" md-highlight-flags="ig">{{value.name}}</span>
                    </ma-option>
                </ma-option-list>
            </ma-drop-down>
        </ma-drop-down-button>
        <div ng-messages="$ctrl.monitorIdModelCtrl.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="$ctrl.monitorIdModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>
</div>
