<h3>
    <span ma-tr="dsEdit.serial"></span>
    <md-button class="md-icon-button ma-small-button ma-no-margin" ui-sref="ui.help.serialDataSource">
        <md-icon>help</md-icon>
    </md-button>
</h3>

<div layout="row" layout-wrap layout-align="space-between start" class="ma-inputs-container">
    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>settings_input_component</md-icon>
        <label ma-tr="dsEdit.serial.port"></label>
        <md-select name="commPortId" ng-model="$ctrl.dataSource.commPortId" md-on-open="$ctrl.getSerialPorts()" required ma-get-ctrl="commPortIdModelCtrl = $ngModel">
            <md-option ng-repeat="serialPort in $ctrl.serialPorts" ng-value="serialPort" ng-bind="serialPort"></md-option>
        </md-select>
        <div ng-messages="commPortIdModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="commPortIdModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>storage</md-icon>
        <label ma-tr="dsEdit.serial.baud"></label>
        <md-select name="baudRate" ng-model="$ctrl.dataSource.baudRate" required ma-get-ctrl="baudRateModelCtrl = $ngModel">
            <md-option ng-value="110">110</md-option>
            <md-option ng-value="300">300</md-option>
            <md-option ng-value="1200">1200</md-option>
            <md-option ng-value="2400">2400</md-option>
            <md-option ng-value="4800">4800</md-option>
            <md-option ng-value="9600">9600</md-option>
            <md-option ng-value="19200">19200</md-option>
            <md-option ng-value="38400">38400</md-option>
            <md-option ng-value="57600">57600</md-option>
            <md-option ng-value="115200">115200</md-option>
            <md-option ng-value="230400">230400</md-option>
            <md-option ng-value="460800">460800</md-option>
            <md-option ng-value="921600">921600</md-option>
        </md-select>
        <div ng-messages="baudRateModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="baudRateModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>arrow_forward</md-icon>
        <label ma-tr="dsEdit.serial.flowIn"></label>
        <md-select name="flowControlIn" ng-model="$ctrl.dataSource.flowControlIn" required ma-get-ctrl="flowControlInModelCtrl = $ngModel">
            <md-option ng-value="'NONE'" ma-tr="dsEdit.serial.flow.none"></md-option>
            <md-option ng-value="'RTSCTS'" ma-tr="dsEdit.serial.flow.rtsCts"></md-option>
            <md-option ng-value="'XONXOFF'" ma-tr="dsEdit.serial.flow.xonXoff"></md-option>
        </md-select>
        <div ng-messages="flowControlInModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="flowControlInModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>arrow_back</md-icon>
        <label ma-tr="dsEdit.serial.flowOut"></label>
        <md-select name="flowControlOut" ng-model="$ctrl.dataSource.flowControlOut" required ma-get-ctrl="flowControlOutModelCtrl = $ngModel">
            <md-option ng-value="'NONE'" ma-tr="dsEdit.serial.flow.none"></md-option>
            <md-option ng-value="'RTSCTS'" ma-tr="dsEdit.serial.flow.rtsCts"></md-option>
            <md-option ng-value="'XONXOFF'" ma-tr="dsEdit.serial.flow.xonXoff"></md-option>
        </md-select>
        <div ng-messages="flowControlOutModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="flowControlOutModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>looks_one</md-icon>
        <label ma-tr="dsEdit.serial.dataBits"></label>
        <md-select name="dataBits" ng-model="$ctrl.dataSource.dataBits" required ma-get-ctrl="dataBitsModelCtrl = $ngModel">
            <md-option ng-value="'DATA_BITS_5'" ma-tr="dsEdit.serial.dataBits5"></md-option>
            <md-option ng-value="'DATA_BITS_6'" ma-tr="dsEdit.serial.dataBits6"></md-option>
            <md-option ng-value="'DATA_BITS_7'" ma-tr="dsEdit.serial.dataBits7"></md-option>
            <md-option ng-value="'DATA_BITS_8'" ma-tr="dsEdit.serial.dataBits8"></md-option>
        </md-select>
        <div ng-messages="dataBitsModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="dataBitsModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>looks_one</md-icon>
        <label ma-tr="dsEdit.serial.stopBits"></label>
        <md-select name="stopBits" ng-model="$ctrl.dataSource.stopBits" required ma-get-ctrl="stopBitsModelCtrl = $ngModel">
            <md-option ng-value="'STOP_BITS_1'" ma-tr="dsEdit.serial.stopBits1"></md-option>
            <md-option ng-value="'STOP_BITS_1_5'" ma-tr="dsEdit.serial.stopBits15"></md-option>
            <md-option ng-value="'STOP_BITS_2'" ma-tr="dsEdit.serial.stopBits2"></md-option>
        </md-select>
        <div ng-messages="stopBitsModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="stopBitsModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>
    
    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>looks_two</md-icon>
        <label ma-tr="dsEdit.serial.parity"></label>
        <md-select name="parity" ng-model="$ctrl.dataSource.parity" required ma-get-ctrl="parityModelCtrl = $ngModel">
            <md-option ng-value="'NONE'" ma-tr="dsEdit.serial.parity.none"></md-option>
            <md-option ng-value="'ODD'" ma-tr="dsEdit.serial.parity.odd"></md-option>
            <md-option ng-value="'EVEN'" ma-tr="dsEdit.serial.parity.even"></md-option>
            <md-option ng-value="'MARK'" ma-tr="dsEdit.serial.parity.mark"></md-option>
            <md-option ng-value="'SPACE'" ma-tr="dsEdit.serial.parity.space"></md-option>
        </md-select>
        <div ng-messages="parityModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="parityModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>timer</md-icon>
        <label ma-tr="dsEdit.serial.readTimeout"></label>
        <input name="readTimeout" type="number" ng-model="$ctrl.dataSource.readTimeout" required ma-get-ctrl="readTimeoutModelCtrl = $ngModel">
        <div ng-messages="readTimeoutModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="readTimeoutModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>autorenew</md-icon>
        <label ma-tr="dsEdit.serial.retries"></label>
        <input name="retries" type="number" ng-model="$ctrl.dataSource.retries" required ma-get-ctrl="retriesModelCtrl = $ngModel">
        <div ng-messages="retriesModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="retriesModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <div flex="100" flex-gt-md="50">
        <md-checkbox class="ma-margin-input-container" name="useTerminator" ng-model="$ctrl.dataSource.useTerminator">
            <span ma-tr="dsEdit.serial.useTerminator"></span>
        </md-checkbox>
    </div>

    <md-input-container flex="100" flex-gt-md="50" ng-if="$ctrl.dataSource.useTerminator">
        <md-icon>last_page</md-icon>
        <label ma-tr="dsEdit.serial.messageTerminator"></label>
        <input name="messageTerminator" ng-model="$ctrl.dataSource.messageTerminator" required ma-get-ctrl="messageTerminatorModelCtrl = $ngModel">
        <div ng-messages="messageTerminatorModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="messageTerminatorModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container flex="100" flex-gt-md="50" ng-if="$ctrl.dataSource.useTerminator">
        <md-icon>settings_ethernet</md-icon>
        <label ma-tr="dsEdit.serial.messageRegex"></label>
        <input name="messageRegex" ng-model="$ctrl.dataSource.messageRegex" required ma-get-ctrl="messageRegexModelCtrl = $ngModel">
        <div ng-messages="messageRegexModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="messageRegexModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>call_received</md-icon>
        <label ma-tr="dsEdit.serial.pointIdentifierIndex"></label>
        <input name="pointIdentifierIndex" min="0" type="number" ng-model="$ctrl.dataSource.pointIdentifierIndex" required ma-get-ctrl="pointIdentifierIndexModelCtrl = $ngModel">
        <div ng-messages="pointIdentifierIndexModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="pointIdentifierIndexModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <div flex="100" flex-gt-md="50">
        <md-checkbox class="ma-margin-input-container" name="hex" ng-model="$ctrl.dataSource.hex">
            <span ma-tr="dsEdit.serial.hex"></span>
        </md-checkbox>
    </div>

    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>vertical_align_top</md-icon>
        <label ma-tr="dsEdit.serial.maxMessageSize"></label>
        <input name="maxMessageSize" min="0" type="number" ng-model="$ctrl.dataSource.maxMessageSize" required ma-get-ctrl="maxMessageSizeModelCtrl = $ngModel">
        <div ng-messages="maxMessageSizeModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="maxMessageSizeModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <div flex="100" flex-gt-md="50">
        <md-checkbox class="ma-margin-input-container" name="logIO" ng-model="$ctrl.dataSource.logIO">
            <span ma-tr="dsEdit.serial.logIO"></span>
        </md-checkbox>
    </div>

    <md-input-container flex="100" flex-gt-md="50" ng-if="$ctrl.dataSource.logIO">
        <md-icon>photo_size_select_small</md-icon>
        <label ma-tr="dsEdit.serial.logIOFileSize"></label>
        <input name="ioLogFileSizeMBytes" type="number" ng-model="$ctrl.dataSource.ioLogFileSizeMBytes" required ma-get-ctrl="ioLogFileSizeMBytesModelCtrl = $ngModel">
        <div ng-messages="ioLogFileSizeMBytesModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="ioLogFileSizeMBytesModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container flex="100" flex-gt-md="50" ng-if="$ctrl.dataSource.logIO">
        <md-icon>filter_none</md-icon>
        <label ma-tr="dsEdit.serial.logIOFiles"></label>
        <input name="maxHistoricalIOLogs" type="number" ng-model="$ctrl.dataSource.maxHistoricalIOLogs" required ma-get-ctrl="maxHistoricalIOLogsModelCtrl = $ngModel">
        <div ng-messages="maxHistoricalIOLogsModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="maxHistoricalIOLogsModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>
</div>