<div layout="row" layout-wrap layout-align="space-between start" class="ma-inputs-container">
    <div flex="100" flex-gt-md="50">
        <md-checkbox class="ma-margin-input-container" name="pointLocator.settable" ng-model="$ctrl.dataPoint.pointLocator.settable">
            <span ma-tr="dsEdit.settable"></span>
        </md-checkbox>
    </div>

    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>storage</md-icon>
        <label ma-tr="dsEdit.pointDataType"></label>
        <md-select name="pointLocator.dataType" ng-model="$ctrl.dataPoint.pointLocator.dataType" required ma-get-ctrl="dataTypeModelCtrl = $ngModel" ng-change="$ctrl.pointEditor.dataTypeChanged()">
            <md-option ng-if="$ctrl.dataPoint.pointLocator.dataType.hasMultipleValues()" ng-value="$ctrl.dataPoint.pointLocator.dataType">
                <em ng-bind="$ctrl.dataPoint.pointLocator.dataType"></em>
            </md-option>
            <md-option ng-repeat="dataType in $ctrl.dataTypes track by dataType.key" ng-value="dataType.key" ma-tr="{{dataType.translation}}"></md-option>
        </md-select>
        <div ng-messages="dataTypeModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="dataTypeModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>
    
    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>change_history</md-icon>
        <label ma-tr="dsEdit.virtual.changeType"></label>
        <md-select name="pointLocator.changeType" ng-model="$ctrl.dataPoint.pointLocator.changeType" required ma-get-ctrl="changeTypeModelCtrl = $ngModel">
            <md-option ng-if="$ctrl.dataPoint.pointLocator.changeType.hasMultipleValues()" ng-value="$ctrl.dataPoint.pointLocator.changeType">
                <em ng-bind="$ctrl.dataPoint.pointLocator.changeType"></em>
            </md-option>
            <md-option 
                ng-repeat="changeType in $ctrl.changeTypes[$ctrl.dataPoint.pointLocator.dataType] track by changeType.key" 
                ng-value="changeType.key" 
                ma-tr="{{changeType.translation}}">
            </md-option>
        </md-select>
        <div ng-messages="changeTypeModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="changeTypeModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>
    
    <md-input-container flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'BINARY'">
        <md-icon>looks_one</md-icon>
        <label ma-tr="dsEdit.virtual.startValue"></label>
        <md-select name="pointLocator.startValue" ng-model="$ctrl.dataPoint.pointLocator.startValue" required ma-get-ctrl="startValueModelCtrl = $ngModel">
            <md-option ng-if="$ctrl.dataPoint.pointLocator.startValue.hasMultipleValues()" ng-value="$ctrl.dataPoint.pointLocator.startValue">
                <em ng-bind="$ctrl.dataPoint.pointLocator.startValue"></em>
            </md-option>
            <md-option ng-value="1" ma-tr="common.true"></md-option> 
            <md-option ng-value="0" ma-tr="common.false"></md-option> 
        </md-select>
        <div ng-messages="startValueModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="startValueModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <div flex="100" class="values-container" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'MULTISTATE'">
        <label ma-tr="dsEdit.virtual.values"></label>
        <md-chips ng-model="$ctrl.dataPoint.pointLocator.values" ng-change="$ctrl.chipsChanged()" readonly="false" md-removable="true"
            md-separator-keys="$ctrl.separatorKeys" ma-form-exclude ma-get-ctrl="valuesModelCtrl = $ngModel">

            <md-chip-template>
                <span>
                    <strong>{{$chip}}</strong>
                </span>
            </md-chip-template>
            <md-icon md-chip-remove class="close-icon">close</md-icon>
            <input name="value" type="number" ng-value="$ctrl.pointValue" ma-tr="common.value" ma-form-exclude>

        </md-chips>

        <div ng-messages="values.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="valuesModelCtrl.validationMessage"></div>
        </div>
    </div>

    <md-input-container flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'MULTISTATE'">
        <md-icon>looks_one</md-icon>
        <label ma-tr="dsEdit.virtual.startValue"></label>
        <md-select name="pointLocator.startValue" ng-model="$ctrl.dataPoint.pointLocator.startValue" required ma-get-ctrl="startValueModelCtrl = $ngModel">
            <md-option ng-if="$ctrl.dataPoint.pointLocator.startValue.hasMultipleValues()" ng-value="$ctrl.dataPoint.pointLocator.startValue">
                <em ng-bind="$ctrl.dataPoint.pointLocator.startValue"></em>
            </md-option>
            <md-option 
                ng-repeat="value in $ctrl.dataPoint.pointLocator.values track by value" 
                ng-value="value">
                {{value}}
            </md-option>
        </md-select>
        <div ng-messages="startValueModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="startValueModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <div flex="100" flex-gt-md="50">
        <md-checkbox class="ma-margin-input-container" name="pointLocator.roll" ng-model="$ctrl.dataPoint.pointLocator.roll">
            <span ma-tr="dsEdit.virtual.roll"></span>
        </md-checkbox>
    </div>

    <md-input-container flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'NUMERIC'">
        <md-icon>vertical_align_bottom</md-icon>
        <label ma-tr="dsEdit.virtual.min"></label>
        <input name="pointLocator.min" ng-model="$ctrl.dataPoint.pointLocator.min" required ma-get-ctrl="minModelCtrl = $ngModel">
        <div ng-messages="minModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="minModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'NUMERIC'">
        <md-icon>vertical_align_top</md-icon>
        <label ma-tr="dsEdit.virtual.max"></label>
        <input name="pointLocator.max" ng-model="$ctrl.dataPoint.pointLocator.max" required ma-get-ctrl="maxModelCtrl = $ngModel">
        <div ng-messages="maxModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="maxModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'NUMERIC'">
        <md-icon>timeline</md-icon>
        <label ma-tr="dsEdit.virtual.maxChange"></label>
        <input name="pointLocator.maxChange" ng-model="$ctrl.dataPoint.pointLocator.maxChange" required ma-get-ctrl="maxChangeModelCtrl = $ngModel">
        <div ng-messages="maxChangeModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="maxChangeModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>
    
    <md-input-container 
        flex="100" 
        flex-gt-md="50" 
        ng-if="$ctrl.dataPoint.pointLocator.dataType === 'NUMERIC' || $ctrl.dataPoint.pointLocator.dataType === 'ALPHANUMERIC' ">
        <md-icon>looks_one</md-icon>
        <label ma-tr="dsEdit.virtual.startValue"></label>
        <input name="pointLocator.startValue" ng-model="$ctrl.dataPoint.pointLocator.startValue" required ma-get-ctrl="startValueModelCtrl = $ngModel">
        <div ng-messages="startValueModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="startValueModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>
</div>