ma-virtual-data-point-editor .values-container {
    margin-bottom: 20px;
}

ma-virtual-data-point-editor .close-icon {
    font-size: 20px;
    margin: 5px 0;
}

ma-virtual-data-point-editor ma-filtering-point-list {
    margin-left: 10px;
}

ma-virtual-data-point-editor .ma-hint {
    font-size: 16px;
    display: block;
    margin-top: 8px;
  }