<div layout="row" layout-wrap layout-align="space-between start" class="ma-inputs-container">
    <div flex="100" flex-gt-md="50">
        <md-checkbox class="ma-margin-input-container" name="pointLocator.settable" ng-model="$ctrl.dataPoint.pointLocator.settable">
            <span ma-tr="dsEdit.settable"></span>
        </md-checkbox>
    </div>

    <pre ng-bind="modelCtrl"></pre>

    <md-input-container id="dataTypeContainer" flex="100" flex-gt-md="50">
        <md-icon>storage</md-icon>
        <label ma-tr="dsEdit.pointDataType"></label>
        <md-select name="pointLocator.dataType" ng-model="$ctrl.dataPoint.pointLocator.dataType" required ma-get-ctrl="dataTypeModelCtrl = $ngModel">
            <md-option ng-if="$ctrl.dataPoint.pointLocator.dataType.hasMultipleValues()" ng-value="$ctrl.dataPoint.pointLocator.dataType">
                <em ng-bind="$ctrl.dataPoint.pointLocator.dataType"></em>
            </md-option>
            <md-option ng-repeat="dataType in $ctrl.dataTypes track by dataType.key" ng-value="dataType.key" ma-tr="{{dataType.translation}}"></md-option>
        </md-select>
        <div ng-messages="dataTypeModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="dataTypeModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container id="changeTypeContainer" flex="100" flex-gt-md="50">
        <md-icon>change_history</md-icon>
        <label ma-tr="dsEdit.virtual.changeType"></label>
        <md-select name="pointLocator.changeType" ng-model="$ctrl.dataPoint.pointLocator.changeType" required
            ma-get-ctrl="changeTypeModelCtrl = $ngModel">
            <md-option ng-if="$ctrl.dataPoint.pointLocator.changeType.hasMultipleValues()" ng-value="$ctrl.dataPoint.pointLocator.changeType">
                <em ng-bind="$ctrl.dataPoint.pointLocator.changeType"></em>
            </md-option>
            <md-option ng-repeat="changeType in $ctrl.changeTypes[$ctrl.dataPoint.pointLocator.dataType] track by changeType.key"
                ng-value="changeType.key" ma-tr="{{changeType.translation}}">
            </md-option>
        </md-select>
        <div ng-messages="changeTypeModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="changeTypeModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>


    <!-- Binary Inputs -->
    <md-input-container id="startValueContainer" flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'BINARY'">
        <md-icon>looks_one</md-icon>
        <label ma-tr="dsEdit.virtual.startValue"></label>
        <md-select name="pointLocator.startValue" ng-model="$ctrl.dataPoint.pointLocator.startValue" required
            ma-get-ctrl="startValueModelCtrl = $ngModel">
            <md-option ng-if="$ctrl.dataPoint.pointLocator.startValue.hasMultipleValues()" ng-value="$ctrl.dataPoint.pointLocator.startValue">
                <em ng-bind="$ctrl.dataPoint.pointLocator.startValue"></em>
            </md-option>
            <md-option ng-value="1" ma-tr="common.true"></md-option>
            <md-option ng-value="0" ma-tr="common.false"></md-option>
        </md-select>
        <div ng-messages="startValueModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="startValueModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>
    
    <!-- Multistate Inputs -->
    <div flex="100" id="multiStateValuesContainer" class="values-container" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'MULTISTATE'">
        <label ma-tr="dsEdit.virtual.values"></label>
        <md-chips ng-model="$ctrl.dataPoint.pointLocator.values" ng-change="$ctrl.chipsChanged()" readonly="false" md-removable="true"
            md-separator-keys="$ctrl.separatorKeys" ma-form-exclude ma-get-ctrl="valuesModelCtrl = $ngModel">

            <md-chip-template>
                <span>
                    <strong>{{$chip}}</strong>
                </span>
            </md-chip-template>
            <md-icon md-chip-remove class="close-icon">close</md-icon>
            <input name="value" type="number" ng-value="$ctrl.pointValue" ma-tr="common.value" ma-form-exclude>

        </md-chips>

        <div ng-messages="values.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="valuesModelCtrl.validationMessage"></div>
        </div>
    </div>

    <md-input-container id="multiStateStartValuesContainer" flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'MULTISTATE'">
        <md-icon>looks_one</md-icon>
        <label ma-tr="dsEdit.virtual.startValue"></label>
        <md-select name="pointLocator.startValue" ng-model="$ctrl.dataPoint.pointLocator.startValue" required
            ma-get-ctrl="startValueModelCtrl = $ngModel">
            <md-option ng-if="$ctrl.dataPoint.pointLocator.startValue.hasMultipleValues()" ng-value="$ctrl.dataPoint.pointLocator.startValue">
                <em ng-bind="$ctrl.dataPoint.pointLocator.startValue"></em>
            </md-option>
            <md-option ng-repeat="value in $ctrl.dataPoint.pointLocator.values track by value" ng-value="value">
                {{value}}
            </md-option>
        </md-select>
        <div ng-messages="startValueModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="startValueModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <!-- Roll Checkbox only for increment change type -->
    <div flex="100" id="rollCheckBoxContainer" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.changeType ==='INCREMENT_ANALOG' || $ctrl.dataPoint.pointLocator.changeType ==='INCREMENT_MULTISTATE'">
        <md-checkbox class="ma-margin-input-container" name="pointLocator.roll" ng-model="$ctrl.dataPoint.pointLocator.roll">
            <span ma-tr="dsEdit.virtual.roll"></span>
        </md-checkbox>
    </div>

    <!-- Numeric Inputs -->
    <div id="attractionPointContainer" flex="100" flex-gt-md="50" layout-wrapper ng-if="$ctrl.dataPoint.pointLocator.dataType === 'NUMERIC' && $ctrl.dataPoint.pointLocator.changeType === 'ANALOG_ATTRACTOR'">
        <div layout="row" layout-align="space-between center">    
            <md-icon>all_out</md-icon>
            <ma-filtering-point-list
                ma-get-ctrl="attractionPointModelCtrl = $ngModel"
                flex="100"
                label="Atractor point" 
                point-xid="{{$ctrl.dataPoint.pointLocator.attractionPointXid}}"
                ng-model="$ctrl.attractionPoint" 
                ng-change="$ctrl.attractionPointChanged()"  
                required ma-get-ctrl="attractionPointModelCtrl = $ngModel">
            </ma-filtering-point-list>
        </div>
    </div>

    <md-input-container id="minValueContainer" flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'NUMERIC' && ($ctrl.dataPoint.pointLocator.changeType === 'BROWNIAN' || $ctrl.dataPoint.pointLocator.changeType === 'INCREMENT_ANALOG' || $ctrl.dataPoint.pointLocator.changeType === 'RANDOM_ANALOG')">
        <md-icon>vertical_align_bottom</md-icon>
        <label ma-tr="dsEdit.virtual.min"></label>
        <input name="pointLocator.min" ng-model="$ctrl.dataPoint.pointLocator.min" required ma-get-ctrl="minModelCtrl = $ngModel">
        <div ng-messages="minModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="minModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container id="maxValueContainer" flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'NUMERIC' && ($ctrl.dataPoint.pointLocator.changeType === 'BROWNIAN' || $ctrl.dataPoint.pointLocator.changeType === 'INCREMENT_ANALOG' || $ctrl.dataPoint.pointLocator.changeType === 'RANDOM_ANALOG')">
        <md-icon>vertical_align_top</md-icon>
        <label ma-tr="dsEdit.virtual.max"></label>
        <input name="pointLocator.max" ng-model="$ctrl.dataPoint.pointLocator.max" required ma-get-ctrl="maxModelCtrl = $ngModel">
        <div ng-messages="maxModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="maxModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container id="maxChangeContainer" flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'NUMERIC' && ($ctrl.dataPoint.pointLocator.changeType === 'BROWNIAN' || $ctrl.dataPoint.pointLocator.changeType === 'ANALOG_ATTRACTOR')">
        <md-icon>timeline</md-icon>
        <label ma-tr="dsEdit.virtual.maxChange"></label>
        <input name="pointLocator.maxChange" ng-model="$ctrl.dataPoint.pointLocator.maxChange" required ma-get-ctrl="maxChangeModelCtrl = $ngModel">
        <div ng-messages="maxChangeModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="maxChangeModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>
    <!-- Numeric & Alphanumeric start value -->
    <md-input-container id="numericStartValueContainer" flex="100" flex-gt-md="50" ng-if="($ctrl.dataPoint.pointLocator.dataType === 'NUMERIC') && $ctrl.dataPoint.pointLocator.changeType != 'SINUSOIDAL'">
        <md-icon>looks_one</md-icon>
        <label ma-tr="dsEdit.virtual.startValue"></label>
        <input name="pointLocator.startValue" ng-model="$ctrl.dataPoint.pointLocator.startValue" required ma-get-ctrl="startValueModelCtrl = $ngModel">
        <div ng-messages="startValueModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="startValueModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container id="numericStartValueContainer" flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'ALPHANUMERIC'">
        <md-icon>looks_one</md-icon>
        <label ma-tr="dsEdit.virtual.startValue"></label>
        <input name="pointLocator.startValue" ng-model="$ctrl.dataPoint.pointLocator.startValue" ma-get-ctrl="startValueModelCtrl = $ngModel">
        <div ng-messages="startValueModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="startValueModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container id="changeContainer" flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'NUMERIC' && $ctrl.dataPoint.pointLocator.changeType === 'INCREMENT_ANALOG'">
        <md-icon>change_history</md-icon>
        <label ma-tr="dsEdit.virtual.change"></label>
        <input name="pointLocator.change" ng-model="$ctrl.dataPoint.pointLocator.change" required ma-get-ctrl="changeModelCtrl = $ngModel">
        <div ng-messages="changeModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="changeModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>


    <md-input-container id="volatilityContainer" flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'NUMERIC' && $ctrl.dataPoint.pointLocator.changeType === 'ANALOG_ATTRACTOR'">
        <md-icon>trending_up</md-icon>
        <label ma-tr="dsEdit.virtual.volatility"></label>
        <input name="pointLocator.volatility" ng-model="$ctrl.dataPoint.pointLocator.volatility" required ma-get-ctrl="volatilityModelCtrl = $ngModel">
        <div ng-messages="volatilityModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="volatilityModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container id="amplitudeContainer" flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'NUMERIC' && $ctrl.dataPoint.pointLocator.changeType === 'SINUSOIDAL'">
        <md-icon>waves</md-icon>
        <label ma-tr="dsEdit.virtual.amplitude"></label>
        <input name="pointLocator.amplitude" ng-model="$ctrl.dataPoint.pointLocator.amplitude" required ma-get-ctrl="amplitudeModelCtrl = $ngModel">
        <div ng-messages="amplitudeModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="amplitudeModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container id="offsetContainer" flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'NUMERIC' && $ctrl.dataPoint.pointLocator.changeType === 'SINUSOIDAL'">
        <md-icon>keyboard_arrow_right</md-icon>
        <label ma-tr="dsEdit.virtual.offset"></label>
        <input name="pointLocator.offset" ng-model="$ctrl.dataPoint.pointLocator.offset" required ma-get-ctrl="offsetModelCtrl = $ngModel">
        <div ng-messages="offsetModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="offsetModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container id="periodContainer" flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'NUMERIC' && $ctrl.dataPoint.pointLocator.changeType === 'SINUSOIDAL'">
        <md-icon>loop</md-icon>
        <label ma-tr="dsEdit.virtual.period"></label>
        <input name="pointLocator.period" ng-model="$ctrl.dataPoint.pointLocator.period" required ma-get-ctrl="periodModelCtrl = $ngModel">
        <div ng-messages="periodModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="periodModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

    <md-input-container id="phaseShiftContainer" flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.pointLocator.dataType === 'NUMERIC' && $ctrl.dataPoint.pointLocator.changeType === 'SINUSOIDAL'">
        <md-icon>short_text</md-icon>
        <label ma-tr="dsEdit.virtual.phaseShift"></label>
        <input name="pointLocator.phaseShift" ng-model="$ctrl.dataPoint.pointLocator.phaseShift" required ma-get-ctrl="phaseShiftModelCtrl = $ngModel">
        <div ng-messages="phaseShiftModelCtrl.$error">
            <div ng-message="required" ma-tr="ui.app.required"></div>
            <div ng-message="validationMessage" ng-bind="phaseShiftModelCtrl.validationMessage"></div>
        </div>
    </md-input-container>

</div>