.py-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.cell-text-md {
    font-size: 18px !important;
}

md-card.ma-ui-system-settings-main md-card-actions { display: none }