<h2 ma-tr="rest.settings.swagger"></h2>
<div layout="row">
    <div flex>
		<a href="/swagger-ui.html" target="swagger-ui">/swagger-ui.html</a>
    </div>
</div>
<h2 ma-tr="rest.settings.corsHeaders"></h2>
<div layout="row">
    <div flex>
        <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column ma-tr="rest.settings.header"></th>
                        <th md-column ma-tr="common.value"></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="(header, value) in $ctrl.apiSettings.headers">
                        <td md-cell class="py-20 cell-text-md"><b>{{ header }}</b></td>
                        <td md-cell class="py-20 cell-text-md">{{ value }}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</div>