<h3>
    <span ma-tr="dsEdit.asciiFile"></span>
    <md-button class="md-icon-button ma-small-button ma-no-margin" ui-sref="ui.helps.help.asciiDataSource">
        <md-icon>help</md-icon>
    </md-button>
</h3>

<div layout="row" layout-wrap layout-align="space-between start" class="ma-inputs-container">
    <div flex="100" flex-gt-md="50" layout="row" layout-wrap layout-align="center center">
        <md-input-container flex>
            <md-icon>insert_drive_file</md-icon>
            <label ma-tr="dsEdit.file.path"></label>
            <input name="filePath" ng-model="$ctrl.dataSource.filePath" ma-get-ctrl="filePathModelCtrl = $ngModel">
            <div ng-messages="filePathModelCtrl.$error">
                <div ng-message="required" ma-tr="validate.required"></div>
                <div ng-message="validationMessage" ng-bind="filePathModelCtrl.validationMessage"></div>
            </div>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="$ctrl.validateFileExists($event)">
            <span ma-tr="dsEdit.file.check"></span>
        </md-button>
    </div>
</div>

<md-tab ng-if="!$ctrl.dataSource.isNew()">
    <md-tab-label>
        <span ma-tr="dsEdit.file.test.submitTestString"></span>
    </md-tab-label>
    <md-tab-body>
        <div class="md-padding ma-no-padding-bottom ma-inputs-container" layout="row" layout-wrap layout-align="space-between start">
            <div flex="100" layout="row" layout-wrap layout-align="center center">
                <md-input-container flex>
                    <md-icon>insert_drive_file</md-icon>
                    <label ma-tr="dsEdit.file.exampleText"></label>
                    <input name="file" ng-model="$ctrl.file">
                </md-input-container>
                <md-button class="md-raised md-primary" ng-click="$ctrl.validateFile($event)">
                    <span ma-tr="dsEdit.file.test.submitTestString"></span>
                </md-button>
            </div>

            <div ng-if="$ctrl.testValues" flex="100" class="ma-table-container">
                <md-table-container>
                    <table md-table ng-model="$ctrl.page.selected">
                        <thead md-head>
                            <tr md-row>
                                <th md-column ma-tr="common.pointName"></th>
                                <th md-column ma-tr="dsEdit.file.pointIdentifier"></th>
                                <th md-column ma-tr="common.stats.value"></th>
                                <th md-column ma-tr="dsEdit.status"></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="items in $ctrl.testValues | limitTo: $ctrl.query.limit: ($ctrl.query.page - 1) * $ctrl.query.limit">
                                <td md-cell ng-bind="items.pointName"></td>
                                <td md-cell ng-bind="items.identifier"></td>
                                <td md-cell>{{ items.value }}@{{ items.timestamp | maMoment:'format':'dddd, MMMM Do YYYY, h:mm:ss a' }}</td>
                                <td md-cell ng-if="items.success" ma-tr="dsEdit.file.test.match"></td>
                                <td md-cell ng-if="!items.success" ma-tr="dsEdit.file.test.noMatch"></td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination 
                    md-limit="$ctrl.query.limit" 
                    md-limit-options="[5, 10, 20]" 
                    md-page="$ctrl.query.page" 
                    md-total="{{$ctrl.testValues.length}}" 
                    md-on-paginate="$ctrl.getBound"
                    md-page-select>
                </md-table-pagination>
            </div>
        </div>
    </md-tab-body>
</md-tab>